/frontend/node_modules
/frontend/.vite
/frontend/dist
/frontend/.DS_Store

/backend/__pycache__/
/backend/.mypy_cache/
/backend/.pytest_cache/
/backend/.DS_Store
/backend/env/
/backend/.env
/backend/venv/
/backend/uploads/
/backend/outputs/

# Common
*.log
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.tmp
*.bak
*.old
*.zip
.env
.DS_Store
package-lock.json